.list {
    display: flex;
    flex-direction: column;
    width: 40vw;
    padding: 2%;
    background: #ffffff;
    border: solid 1px #00675a;
}

.list-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #00675a;
    border-bottom: solid 1px #00675a;
    text-align: initial;
    padding-left: 2%;
}

.list-item:hover {
    background-color: #00675a;
    color: #ffffff;
    transition: 0.4s;
    cursor: pointer;
}

.list-item:hover a:link,
.list-item:hover a:visited {
    color: #ffffff;
}
